xml/circuito.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.uniovi.es" elementFormDefault="qualified" targetNamespace="http://www.uniovi.es" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="circuito">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nombre" />
                <xs:element ref="longitud" />
                <xs:element ref="anchura" />
                <xs:element ref="fecha" />
                <xs:element ref="hora" />
                <xs:element ref="numeroVueltas" />
                <xs:element ref="localidad" />
                <xs:element ref="pais" />
                <xs:element ref="patrocinador" />
                <xs:element ref="referencias" />
                <xs:element ref="fotografias" />
                <xs:element ref="videos" />
                <xs:element ref="coordenadas" />
                <xs:element ref="tramos" />
                <xs:element ref="vencedor" />
                <xs:element ref="clasificacionMundial" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="nombre" type="xs:string" />
    
    <xs:element name="longitud">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attribute name="unidades" type="xs:string" fixed="metros" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="anchura">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attribute name="unidades" type="xs:string" fixed="metros" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="fecha" type="xs:date">
        <xs:annotation>
            <xs:documentation>La fecha debe ser en el año 2025</xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:element name="hora" type="xs:time" />
    
    <xs:element name="numeroVueltas">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="1" />
                <xs:maxInclusive value="100" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    
    <xs:element name="localidad" type="xs:string" />
    <xs:element name="pais" type="xs:string" />
    <xs:element name="patrocinador" type="xs:string" />
    
    <xs:element name="referencias">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="3" maxOccurs="unbounded" ref="referencia" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="referencia" type="xs:string" />
    
    <xs:element name="fotografias">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="5" ref="fotografia" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="fotografia" type="xs:string" />
    
    <xs:element name="videos">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="3" ref="video" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="video" type="xs:string" />
    
    <xs:element name="coordenadas">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="longitud_geo" />
                <xs:element ref="latitud" />
                <xs:element ref="altitud" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="longitud_geo">
        <xs:simpleType>
            <xs:restriction base="xs:float">
                <xs:minInclusive value="-180" />
                <xs:maxInclusive value="180" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    
    <xs:element name="latitud">
        <xs:simpleType>
            <xs:restriction base="xs:float">
                <xs:minInclusive value="-90" />
                <xs:maxInclusive value="90" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    
    <xs:element name="altitud">
        <xs:simpleType>
            <xs:restriction base="xs:float">
                <xs:minInclusive value="0" />
                <xs:maxInclusive value="5000" /> 
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    
    <xs:element name="tramos">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="tramo" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="tramo">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="distancia" />
                <xs:element ref="coordenadas" />
                <xs:element ref="sector" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="distancia">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:float">
                    <xs:attribute name="unidades" type="xs:string" fixed="metros" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="sector">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="1" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    
    <xs:element name="vencedor">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="piloto" />
                <xs:element ref="tiempo" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="piloto" type="xs:string" />
    <xs:element name="tiempo" type="xs:duration" />
    
    <xs:element name="clasificacionMundial">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="3" ref="posicion" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="posicion">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="puesto" />
                <xs:element ref="piloto" />
                <xs:element ref="puntos" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="puesto" type="xs:integer" />
    <xs:element name="puntos" type="xs:integer" />
</xs:schema>